<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/atulk/IdeaProjects/POM-Instagram"><classes><class name="com.bridgelabz.InstagramTest"><methods><include name="redirect_To_SignUp"/><include name="insertData_RegistrationForm"/><include name="loginIn_LogOut"/><include name="changeProfilePic"/><include name="searchAndFollow"/><include name="exploreReelsAndLike"/></methods></class></classes></test></suite>